DATABASE_URL='postgresql://neondb_owner:npg_thUKjqJ6gMv5@ep-blue-dream-aofpircg-pooler.c-2.ap-southeast-1.aws.neon.tech/oa?sslmode=verify-full&channel_binding=require'
PORT=5000
JWT_SECRET=verysecret
